<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anil Kaynar</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body style="background-color:#d0e9c6">
<script>
   function func(a) {
       document.getElementById(a).scrollIntoView();

   };
</script>
<div class="row nav">
    <div class="">
        <a class="btn scroll"  onclick="func('work')" type="button">Works</a>
        <a class="btn scroll"  onclick="func('project')" type="button">Project</a>
        <a class="btn scroll"  onclick="func('educat')" type="button">Education</a>
        <a class="btn scroll" onclick="func('oter')" type="button">Other</a>
    </div>
</div>
<p></p>
<p>
<div class="container jumbotron"id="educat">
    <h1> Education</h1>
    <ul>
        <li>İstanbul Üniversitesi Bilgisayar Mühendisliği  2013-2018</li>
        <li>İstanbul Üniversitesi Auzef Sosyoloji          2013-2017</li>
        <li> Yeşilköy Anadolu Lisesi                       2009-2013</li>
    </ul>
</div>
<br>
<br>
<div class="container jumbotron" id="works">
    <h1> Works</h1>
    <ul>
        <li><a href="https://play.google.com/store/apps/details?id=com.anilkaynar.standartsapma" role="link"> Standart Sapma Android uygulaması</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.anilkaynar.canhesap" role="link"> Çan Eğrisi Hesaplama</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.anilkaynar.sifreuretim" role="link"> Şifre Üretici</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.anilkaynar.ycanttalk2" role="link">YoucanTalk2</a></li>
        <li><a href="https://github.com/anilkay" role="link">Github Page</a></li>
    </ul>
    <div class="row inline">
        <img src="https://lh3.googleusercontent.com/ZUrbnMR0Xw6dtIcLtaTh7H8n9Ty7wBMa53HCT0TKBZ6WeM9rtK57G_d6F6mFK2_0744=h310" class="img-responsive" alt="Cinque Terre">
        <img src="https://lh3.googleusercontent.com/0Gt00QN-VAW6I98CGXo15Czmir_4_2Xl65m950pjkTWTNyh6TbtRDtFD-IlLWoYpJg=h310" class="img-responsive" alt="Cinque Terre">
        <img src="https://lh3.googleusercontent.com/pxZ81waNIY_c0nFR0U2Fu-dKFugaXDtkkNi3qS6wdF4DkaUn45x0ETVqfRNeARVfihc=h310" class="img-responsive" alt="Cinque Terre">
    </div>
</div>
<br>
<br>
<div class="container jumbotron" id="project">
    <h1> Project</h1>
    <ul>
        <li>Pointer in C book (not ready)</li>
        <li>Offline Reader App like Pocket but much basic (not ready)</li>
        <li>New Society internet and under (not ready)</li>
    </ul>
</div>
<br>
<br>
<div class="container jumbotron" id="oter">
    <h1>Other</h1>
    <ul>
        <li><a href="#" role="link">Blog (New)</a></li>
        <li><a href="http://cepli.blogspot.com" role="link">Blog (Old)</a></li>
    </ul>
    <div class="row ">
        Skills: Java, Android, Python, Javascript, Bootstrap, Node.js,Java Server Faces,<br>
        Php5, R, Weka, SQL, Google Adwords, SEM, SEO
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>